<div style="border-right:1px solid #ddd; padding-right:2rem">
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success">New Recipe</button>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12">
      <!-- !!!! DON'T KNOW how does it work, I never said app-recipe-item receives a click event-->
      <!-- Maximilian added a custom event into the app-recipe-item -->
      <app-recipe-item *ngFor="let recipe of recipes" [recipe]="recipe" (click)="onSelectRecipe(recipe)">
      </app-recipe-item>
    </div>
  </div>
</div>